h1 {
  font-size: 38px !important;
  line-height: 2px !important;
}

label {
  color: white;
  margin-left: 10px;
}

.indent {
  margin-left: 20px;
}

.panel , .panel a{
  background-color: transparent !important;
  margin-left: 10px;
  font-weight: bold;
}

.accordion-toggle  {
  color: white !important;
  font-size: 106%
}
.panel {
  margin-bottom: 4px !important;
}

.spacer {
  color: grey;
  font-size: 90%;
  margin-left: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.uppercase {
  color: grey;
  font-size: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top:30px;
  margin-left:40px
}
.guide-social {
  display:inline;
  padding:10px
}
.head {
  color: #40474C !important;
}
.form-horizontal .control-label {
  color:black
}
.sidebar-boxed.sidebar-dark {
    background-color: #3E3C52 !important;
}

.center {
  text-align: center
}

.social-share-button {
  padding: 10px
}


.header-search-model {
  position: relative;
  top: 24px;
  left: 300px;
}

.large_input {
  width: 400px
}
