h1 {
  font-size: 38px !important;
  line-height: 2px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Slab !important;
}

h3 {
  font-size: 25px !important;
line-height: 40px !important;

}

label {
  color: white;
  margin-left: 10px;
}

.indent {
  margin-left: 20px;
}

.panel , .panel a{
  background-color: transparent !important;
  margin-left: 10px;
  font-weight: bold;
}

.accordion-toggle  {
  color: white !important;
  font-size: 106%
}
.panel {
  margin-bottom: 4px !important;
}

.spacer {
  color: grey;
  font-size: 90%;
  margin-left: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.uppercase {
  color: grey;
  font-size: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top:30px;
  margin-left:40px
}
.guide-social {
  display:inline;
  padding:10px
}
.head {
  color: #40474C !important;
}
.form-horizontal .control-label {
  color:black
}
.sidebar-boxed.sidebar-dark {
    background-color: #3E3C52 !important;
        overflow: scroll;
}

.center {
  text-align: center
}

.social-share-button {
  padding: 10px
}


.header-search-model {
  position: relative;
  top: 24px;
  left: 300px;
}

.large_input {
  width: 400px
}

p , ul{
  font-weight: 400 !important;
}

body {
  font-family: Roboto !important;
  color: rgba(0,0,0,0.87) !important;
}

.panel, .panel a {
  font-weight: normal !important;
}

h4 {
  margin-top: 30px !important;
}

.success {
  color: green
}
h5.blue a {
  color: #6D5CAE
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
